# Imports

In [3]:
import pandas as pd
import numpy as np
from datetime import timedelta
import datetime
import datacompy

# Load and view our current datasets

In [4]:
df_sy = pd.read_csv("semiyearly_data.csv")
df_mon = pd.read_csv("monthly_data.csv")
df_baseline = pd.read_csv("baseline_data.csv")

In [6]:
df_sy.iloc[:5,]

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1_x,Unnamed: 0_x,date,district_x,total population,Under-Five Population,GAM,MAM,...,Unnamed: 0.1_y.2,Unnamed: 0_y.2,MAM_admissions,SAM_admissions,prevalence_6lag,next_prevalence,month,increase,increase_numeric,district_encoded
0,0,605,605,605,2017-07-01,Adan Yabaal,65262.960,13052.592,4819.016966,3733.041312,...,NaN,NaN,NaN,NaN,NaN,0.3510,7,False,-0.0182,0
1,1,656,656,656,2017-07-01,Lughaye,70268.220,14053.644,5334.763262,4220.309293,...,NaN,NaN,NaN,NaN,NaN,0.1690,7,False,-0.2106,58
2,2,624,624,624,2017-07-01,Buuhoodle,71317.710,14263.542,4858.162405,3652.893106,...,NaN,NaN,NaN,NaN,NaN,0.2028,7,False,-0.1378,23
3,3,657,657,657,2017-07-01,Luuq,100476.765,20095.353,8673.154355,7366.956410,...,NaN,NaN,NaN,NaN,NaN,0.3926,7,False,-0.0390,59
4,4,623,623,623,2017-07-01,Burtinle,112734.270,22546.854,10200.196750,8500.163958,...,NaN,NaN,NaN,NaN,NaN,0.3796,7,False,-0.0728,22

In [7]:
df_mon.iloc[:5,]

,Unnamed: 0,Unnamed: 0.3_x,date,Unnamed: 0.2_x,Unnamed: 0.1_x,Unnamed: 0_x,district_x,total population_x,Under-Five Population_x,GAM_x,...,SAM_admissions,prevalence_1lag,next_prevalence,prevalence_6lag,6lag_next_prevalence,month,increase,increase_numeric,district,district_encoded
0,0,0,2017-07-01,603,603,603,Cabudwaaq,73330.785,14666.157,7626.401640,...,NaN,NaN,0.520000,NaN,0.4212,7,True,0.0,Cabudwaaq,22
1,1,2316,2017-07-01,661,661,661,Qandala,75823.065,15164.613,6150.767033,...,NaN,NaN,0.405600,NaN,0.3432,7,True,0.0,Qandala,58
2,2,2910,2017-07-01,641,641,641,Garbahaarey,91374.975,18274.995,7887.487842,...,NaN,NaN,0.431600,NaN,0.3926,7,True,0.0,Garbahaarey,39
3,3,3612,2017-07-01,659,659,659,Banadir,2077273.945,415454.789,161739.176773,...,NaN,NaN,0.389306,NaN,0.2912,7,True,0.0,Banadir,8
4,4,1026,2017-07-01,637,637,637,Doolow,50233.700,10046.740,4376.618584,...,NaN,NaN,0.435626,NaN,0.3926,7,True,0.0,Doolow,35

In [8]:
df_baseline.iloc[:5,]

,Unnamed: 0,date,district,prevalence,next_prevalence,prevalence_6lag,covid,ndvi,ipc,cropdiv,population,month,increase,increase_numeric,district_encoded
0,0,2018-01-01,Afgooye,0.3510,0.384859,0.3692,0.0,0.273333,0.00,6.0,309683.385,1,True,0.033859,3
1,1,2018-01-01,Gebiley,0.1976,0.244319,0.3380,0.0,0.208333,0.13,2.0,146038.500,1,True,0.046719,51
2,2,2018-01-01,Kurtunwaarey,0.3510,0.446118,0.3692,0.0,0.365000,0.18,5.0,95730.255,1,True,0.095118,61
3,3,2018-01-01,Qansax Dheere,0.2886,0.509285,0.3588,0.0,0.266667,0.09,7.0,123818.085,1,True,0.220685,71
4,4,2018-01-01,Waajid,0.4862,0.474895,0.4862,0.0,0.250000,0.11,5.0,85276.755,1,False,-0.011305,81

# Compare the current datasets

## Comparing baseline against semiyearly

In [28]:
compare_sy = datacompy.Compare(df_baseline,df_sy,
                            join_columns="date",
                            df1_name="baseline_data",
                            df2_name="semiyearly_data")
print(compare_sy.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns  Rows
0    baseline_data       15   231
1  semiyearly_data      109   677

Column Summary
--------------

Number of columns in common: 9
Number of columns in baseline_data but not in semiyearly_data: 6
Number of columns in semiyearly_data but not in baseline_data: 100

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 231
Number of rows in baseline_data but not in semiyearly_data: 0
Number of rows in semiyearly_data but not in baseline_data: 446

Number of rows with some compared columns unequal: 231
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 7
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 1,482

Columns with Unequal Values or Types
------------------------------------

             Column baseline_data dtype semiyearly_data dtype  # Unequal    Max Diff  # Null Diff
1          district              object                object        228    0.000000            0
6  district_encoded               int64                 int64        228   81.000000            0
4          increase                bool                object        113    1.000000            1
5  increase_numeric             float64               float64        228    0.289659            1
2   next_prevalence             float64               float64        228    0.352348            1
3   prevalence_6lag             float64               float64        226    0.323648            3
0        unnamed: 0               int64                 int64        231  316.000000            0

Sample Rows with Unequal Values
-------------------------------

           date  unnamed: 0 (baseline_data)  unnamed: 0 (semiyearly_data)
180  2020-07-01                       194.0                           470
137  2020-01-01                       148.0                           386
101  2019-07-01                       109.0                           305
150  2020-01-01                       163.0                           399
22   2018-01-01                        22.0                            96
87   2019-01-01                        93.0                           246
195  2020-07-01                       210.0                           485
163  2020-01-01                       176.0                           412
52   2018-07-01                        56.0                           167
98   2019-01-01                       105.0                           257

           date district (baseline_data) district (semiyearly_data)
121  2019-07-01                  Baraawe                 Iskushuban
146  2020-01-01                  Bu'aale                      Marka
163  2020-01-01                   Sheikh                    Berbera
117  2019-07-01                  Afgooye                  Jalalaqsi
80   2019-01-01                    Xudur                  Ceel Buur
223  2021-01-01                Qoryooley                    Lughaye
22   2018-01-01                Jalalaqsi                   Burtinle
84   2019-01-01                   Waajid                   Diinsoor
31   2018-01-01                 Owdweyne                     Cadale
132  2020-01-01                Jalalaqsi                   Jariiban

           date  next_prevalence (baseline_data)  next_prevalence (semiyearly_data)
157  2020-01-01                         0.361931                           0.352498
20   2018-01-01                         0.297261                           0.335415
8    2018-01-01                         0.344711                           0.238649
74   2019-01-01                         0.532680                           0.241899
77   2019-01-01                         0.302049                           0.462159
151  2020-01-01                         0.388195                           0.361931
88   2019-01-01                         0.311808                           0.396913
25   2018-01-01                         0.407744                           0.242803
193  2020-07-01                         0.238813                           0.383533
218  2021-01-01                         0.437651                           0.310159

           date  prevalence_6lag (baseline_data)  prevalence_6lag (semiyearly_data)
21   2018-01-01                         0.520000                           0.340600
200  2021-01-01                         0.446990                           0.263954
147  2020-01-01                         0.302049                           0.471058
48   2018-07-01                         0.392600                           0.351000
226  2021-01-01                         0.127787                           0.306084
26   2018-01-01                         0.473200                           0.431600
15   2018-01-01                         0.379600                           0.444600
24   2018-01-01                         0.369200                           0.444600
218  2021-01-01                         0.383328                           0.208209
100  2019-07-01                         0.439176                           0.344094

           date increase (baseline_data) increase (semiyearly_data)
181  2020-07-01                    False                       True
77   2019-01-01                    False                       True
189  2020-07-01                    False                       True
153  2020-01-01                    False                       True
176  2020-07-01                    False                       True
83   2019-01-01                    False                       True
201  2021-01-01                    False                       True
166  2020-07-01                    False                       True
88   2019-01-01                     True                      False
222  2021-01-01                    False                       True

           date  increase_numeric (baseline_data)  increase_numeric (semiyearly_data)
148  2020-01-01                         -0.075208                            0.035796
152  2020-01-01                         -0.050385                           -0.110588
89   2019-01-01                          0.069176                            0.005539
105  2019-07-01                         -0.020368                           -0.103430
189  2020-07-01                         -0.004388                            0.086708
54   2018-07-01                         -0.090330                           -0.049891
157  2020-01-01                         -0.015037                           -0.055646
66   2019-01-01                          0.026226                           -0.015984
71   2019-01-01                          0.024617                            0.005582
76   2019-01-01                          0.078428                           -0.017177

           date  district_encoded (baseline_data)  district_encoded (semiyearly_data)
72   2019-01-01                              61.0                                  49
197  2020-07-01                              80.0                                  16
90   2019-01-01                              77.0                                  12
33   2018-07-01                              25.0                                  41
76   2019-01-01                              71.0                                  41
56   2018-07-01                              81.0                                  49
40   2018-07-01                              55.0                                  72
151  2020-01-01                              58.0                                  53
219  2021-01-01                              69.0                                  72
11   2018-01-01                              17.0                                  19

Sample Rows Only in semiyearly_data (First 10 Columns)
------------------------------------------------------

     unnamed: 0  unnamed: 0.2  unnamed: 0.1_x  unnamed: 0_x        date     district_x  total population  under-five population            gam            mam
588         588           130             130           130  2021-01-01     Rab Dhuure      3.298600e+04            6595.000000    3345.000000            NaN
238           7           621             621           621  2017-07-01     Bulo Burto      1.814355e+05           36287.100000   15567.165900   12548.079180
669         669            26              26            26  2021-07-01        Caynabo               NaN           16276.000000    3540.000000            NaN
387         222           487             487           487  2018-07-01  Dhuusamarreeb      1.341327e+05           26826.546831   10486.583283    8844.521932
607         607            73              73            73  2021-07-01         Zeylac               NaN           11246.400000    2690.000000            NaN
318         120           543             543           543  2018-01-01        Berbera      1.115109e+05           22302.180000    4406.910768    3740.075586
493         427           278             278           278  2020-01-01    Xarardheere      3.344764e+04            6689.527290    2650.913359    2207.702202
497         431           240             240           240  2020-01-01       Diinsoor      1.395643e+05           27912.869213   17619.561889   14286.843240
512         446           231             231           231  2020-01-01        Banadir      2.228463e+06          445692.662775  201114.122444  162060.766593
611         611            37              37            37  2021-07-01      Gaalkacyo               NaN          139290.800000   52930.000000            NaN

## Comparing baseline against monthly

In [27]:
compare_mon = datacompy.Compare(df_baseline,df_mon,
                            join_columns="date",
                            df1_name="baseline_data",
                            df2_name="monthly_data")
print(compare_mon.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

       DataFrame  Columns  Rows
0  baseline_data       15   231
1   monthly_data       79  3972

Column Summary
--------------

Number of columns in common: 9
Number of columns in baseline_data but not in monthly_data: 6
Number of columns in monthly_data but not in baseline_data: 70

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 231
Number of rows in baseline_data but not in monthly_data: 0
Number of rows in monthly_data but not in baseline_data: 3,741

Number of rows with some compared columns unequal: 231
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 7
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 1,487

Columns with Unequal Values or Types
------------------------------------

             Column baseline_data dtype monthly_data dtype  # Unequal     Max Diff  # Null Diff
1          district              object             object        230     0.000000            0
6  district_encoded               int64              int64        227    79.000000            0
4          increase                bool             object        108     1.000000            0
5  increase_numeric             float64            float64        231     0.272960            0
2   next_prevalence             float64            float64        231     0.383965            0
3   prevalence_6lag             float64            float64        229     0.328682            0
0        unnamed: 0               int64              int64        231  2841.000000            0

Sample Rows with Unequal Values
-------------------------------

           date  unnamed: 0 (baseline_data)  unnamed: 0 (monthly_data)
94   2019-01-01                       100.0                       1342
227  2021-01-01                       244.0                       3083
155  2020-01-01                       168.0                       2213
183  2020-07-01                       197.0                       2646
178  2020-07-01                       192.0                       2641
135  2020-01-01                       146.0                       2193
134  2020-01-01                       145.0                       2192
91   2019-01-01                        97.0                       1339
55   2018-07-01                        59.0                        898
148  2020-01-01                       161.0                       2206

           date district (baseline_data) district (monthly_data)
52   2018-07-01                Badhaadhe               Ceel Buur
131  2019-07-01                    Hobyo                   Burco
122  2019-07-01              Belet Weyne                Kismaayo
201  2021-01-01                  Afgooye                  Waajid
7    2018-01-01                 Hargeysa                Jariiban
200  2021-01-01                    Xudur               Jalalaqsi
21   2018-01-01               Ceel Dheer            Laas Caanood
140  2020-01-01                Tayeeglow               Jalalaqsi
77   2019-01-01               Ceel Dheer             Belet Weyne
225  2021-01-01                 Sablaale                 Qandala

           date  next_prevalence (baseline_data)  next_prevalence (monthly_data)
137  2020-01-01                         0.141288                        0.404834
228  2021-01-01                         0.224277                        0.492388
158  2020-01-01                         0.306084                        0.308400
151  2020-01-01                         0.388195                        0.463714
192  2020-07-01                         0.461528                        0.450524
69   2019-01-01                         0.348758                        0.481612
48   2018-07-01                         0.314940                        0.468902
184  2020-07-01                         0.492388                        0.383328
89   2019-01-01                         0.273633                        0.423916
13   2018-01-01                         0.412518                        0.486200

           date  prevalence_6lag (baseline_data)  prevalence_6lag (monthly_data)
80   2019-01-01                         0.468902                        0.350261
208  2021-01-01                         0.460408                        0.132174
206  2021-01-01                         0.399241                        0.289019
98   2019-01-01                         0.230342                        0.484691
60   2018-07-01                         0.486200                        0.421200
128  2019-07-01                         0.398378                        0.378784
30   2018-01-01                         0.431600                        0.435626
145  2020-01-01                         0.549068                        0.545855
183  2020-07-01                         0.376968                        0.389925
74   2019-01-01                         0.407744                        0.378817

           date increase (baseline_data) increase (monthly_data)
154  2020-01-01                    False                    True
216  2021-01-01                    False                    True
148  2020-01-01                    False                    True
142  2020-01-01                    False                    True
108  2019-07-01                    False                    True
179  2020-07-01                    False                    True
208  2021-01-01                    False                    True
130  2019-07-01                    False                    True
163  2020-01-01                    False                    True
124  2019-07-01                    False                    True

           date  increase_numeric (baseline_data)  increase_numeric (monthly_data)
61   2018-07-01                          0.053063                              0.0
53   2018-07-01                         -0.000617                              0.0
67   2019-01-01                          0.102405                              0.0
210  2021-01-01                         -0.072751                              0.0
145  2020-01-01                         -0.223558                              0.0
128  2019-07-01                         -0.128456                              0.0
86   2019-01-01                          0.074924                              0.0
66   2019-01-01                          0.026226                              0.0
207  2021-01-01                         -0.012565                              0.0
108  2019-07-01                         -0.035062                              0.0

           date  district_encoded (baseline_data)  district_encoded (monthly_data)
224  2021-01-01                              17.0                               43
71   2019-01-01                              59.0                                0
104  2019-07-01                              59.0                                1
206  2021-01-01                              11.0                                0
208  2021-01-01                              59.0                               57
122  2019-07-01                              17.0                               50
35   2018-07-01                              60.0                               64
217  2021-01-01                              80.0                                7
165  2020-07-01                              58.0                               37
103  2019-07-01                              67.0                               33

Sample Rows Only in monthly_data (First 10 Columns)
---------------------------------------------------

      unnamed: 0  unnamed: 0.3_x        date  unnamed: 0.2_x  unnamed: 0.1_x  unnamed: 0_x     district_x  total population_x  under-five population_x         gam_x
1081         916            1794  2018-07-01             492             492           492       Galdogob        96228.946258             19245.789252   9036.062381
2454        2388             140  2020-03-01             272             272           272         Cadale        61428.001629             12285.600326   3788.414499
703          505            1842  2018-01-01             538             538           538         Balcad       141077.745000             28215.549000   9903.657699
2617        2551             790  2020-05-01             276             276           276          Hobyo        69851.376499             13970.275300   5178.476799
3815        3815             754  2021-11-01              57              57            57       Owdweyne                 NaN             16577.800000   3780.000000
752          554            3511  2018-02-01             537             537           537           Baki        70268.220000             14053.644000   2375.065836
1811        1679            1805  2019-06-01             415             415           415       Galdogob        96228.946258             19245.789252   7731.745243
3744        3744            3069  2021-10-01              33              33            33  Dhuusamarreeb                 NaN             42409.999999  15100.000000
1118         953            2275  2018-08-01             510             510           510           Luuq        42201.023548              8440.204710   3479.915786
3513        3513            2202  2021-07-01              13              13            13        Berbera                 NaN             32142.000000   8870.000000

## Comparing monthly against semiyearly

In [29]:
compare_mon_sy = datacompy.Compare(df_mon,df_sy,
                            join_columns="date",
                            df1_name="monthly_data",
                            df2_name="semiyearly_data")
print(compare_mon_sy.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns  Rows
0     monthly_data       79  3972
1  semiyearly_data      109   677

Column Summary
--------------

Number of columns in common: 49
Number of columns in monthly_data but not in semiyearly_data: 30
Number of columns in semiyearly_data but not in monthly_data: 60

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 650
Number of rows in monthly_data but not in semiyearly_data: 3,322
Number of rows in semiyearly_data but not in monthly_data: 27

Number of rows with some compared columns unequal: 650
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 47
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 26,910

Columns with Unequal Values or Types
------------------------------------

                     Column monthly_data dtype semiyearly_data dtype  # Unequal      Max Diff  # Null Diff
21         average of centx            float64               float64        638  9.348760e+00           14
20         average of centy            float64               float64        636  1.204936e+01           14
31        awd/cholera cases            float64               float64        371  5.468333e+02          311
32       awd/cholera deaths            float64               float64         36  4.000000e+00           35
45                 district             object                object        634  0.000000e+00            0
46         district_encoded              int64                 int64        639  7.500000e+01            0
3                district_x             object                object        634  0.000000e+00            0
6                district_y             object                object        634  0.000000e+00           16
12                      gam            float64               float64        635  2.498000e+05            0
15           gam prevalence            float64               float64        629  4.122514e-01            0
43                 increase             object                object        385  1.000000e+00           73
44         increase_numeric            float64               float64        644  3.447880e-01           73
35  insecurity - fatalities            float64               float64        589  1.190000e+02          321
34   insecurity - incidents            float64               float64        577  8.100000e+01          321
28             maize prices            float64               float64        529  8.353000e+02          314
33            malaria cases            float64               float64        480  8.746667e+02          316
13                      mam            float64               float64        497  1.621860e+05            1
39           mam_admissions            float64               float64        400  1.193250e+04           91
30            measles cases            float64               float64        479  7.440000e+02          327
25               ndvi_score            float64               float64        649  5.683333e-01           29
29     new admissions (gam)            float64               float64        631  9.909552e+02          151
41          next_prevalence            float64               float64        648  4.563524e-01           73
42          prevalence_6lag            float64               float64        564  3.854206e-01            5
26           price of water            float64               float64        511  8.500000e+01          323
24                 rainfall            float64               float64        650  1.119700e+02           14
14                      sam            float64               float64        635  4.807000e+04            0
16           sam prevalence            float64               float64        621  1.248000e-01            0
17            sam/gam ratio            float64               float64        624  1.964624e-01            0
40           sam_admissions            float64               float64        419  6.686500e+03           91
27           sorghum prices            float64               float64        536  6.852083e+01          329
36             total alarms              int64               float64        639  1.300000e+01           14
10         total population            float64               float64        566  2.188681e+06            0
11    under-five population            float64               float64        635  5.244890e+05            0
0                unnamed: 0              int64                 int64        577  2.877000e+03            0
1            unnamed: 0.1_x              int64                 int64        635  2.840000e+02            0
8          unnamed: 0.1_x.1              int64               float64        648  2.880000e+02           16
22         unnamed: 0.1_x.2              int64               float64        650  2.520000e+02           14
4            unnamed: 0.1_y              int64               float64        648  2.880000e+02           16
18         unnamed: 0.1_y.1              int64               float64        650  3.530500e+03           14
37         unnamed: 0.1_y.2            float64               float64        421  2.277500e+03           82
7              unnamed: 0.2              int64                 int64        635  2.840000e+02            0
2              unnamed: 0_x              int64                 int64        635  2.840000e+02            0
9            unnamed: 0_x.1              int64               float64        648  2.880000e+02           16
23           unnamed: 0_x.2              int64               float64        650  2.520000e+02           14
5              unnamed: 0_y              int64               float64        648  2.880000e+02           16
19           unnamed: 0_y.1              int64               float64        650  3.530500e+03           14
38           unnamed: 0_y.2            float64               float64        421  2.277500e+03           82

Sample Rows with Unequal Values
-------------------------------

            date  unnamed: 0 (monthly_data)  unnamed: 0 (semiyearly_data)
2694  2020-07-01                     2694.0                         521.0
3108  2021-01-01                     3108.0                         583.0
1778  2019-07-01                     1778.0                         329.0
1782  2019-07-01                     1782.0                         333.0
445   2018-01-01                      445.0                          81.0
945   2018-07-01                      945.0                         217.0
1331  2019-01-01                     1331.0                         242.0
2631  2020-07-01                     2631.0                         458.0
2205  2020-01-01                     2205.0                         396.0
3100  2021-01-01                     3100.0                         575.0

            date  unnamed: 0.1_x (monthly_data)  unnamed: 0.1_x (semiyearly_data)
883   2018-07-01                          466.0                             524.0
1323  2019-01-01                          375.0                             412.0
2629  2020-07-01                          175.0                             156.0
1348  2019-01-01                          426.0                             434.0
1378  2019-01-01                          397.0                             427.0
881   2018-07-01                          516.0                             521.0
3493  2021-07-01                           66.0                              32.0
3071  2021-01-01                          121.0                              90.0
461   2018-01-01                          600.0                             533.0
2689  2020-07-01                          188.0                             220.0

            date  unnamed: 0_x (monthly_data)  unnamed: 0_x (semiyearly_data)
473   2018-01-01                        596.0                           530.0
936   2018-07-01                        452.0                           527.0
1824  2019-07-01                        372.0                           321.0
22    2017-07-01                        608.0                           614.0
448   2018-01-01                        593.0                           532.0
2641  2020-07-01                        203.0                           204.0
62    2017-07-01                        609.0                           639.0
2692  2020-07-01                        166.0                           207.0
2253  2020-01-01                        287.0                           228.0
2691  2020-07-01                        150.0                           171.0

            date district_x (monthly_data) district_x (semiyearly_data)
41    2017-07-01                  Owdweyne                     Hargeysa
1318  2019-01-01                  Galdogob                  Ceel Afweyn
3092  2021-01-01                Baardheere                  Belet Weyne
1818  2019-07-01                      Baki                       Doolow
1322  2019-01-01                Wanla Weyn                      Gebiley
457   2018-01-01                     Hobyo                Dhuusamarreeb
49    2017-07-01                Ceel Barde                      Jamaame
452   2018-01-01                  Hargeysa                       Qardho
3481  2021-07-01                 Jalalaqsi                  Adan Yabaal
2194  2020-01-01                 Ceel Buur                    Cabudwaaq

            date  unnamed: 0.1_y (monthly_data)  unnamed: 0.1_y (semiyearly_data)
2259  2020-01-01                          240.0                             204.0
1339  2019-01-01                          436.0                             342.0
2201  2020-01-01                          228.0                             205.0
1784  2019-07-01                          317.0                             360.0
1378  2019-01-01                          397.0                             334.0
2666  2020-07-01                          178.0                             159.0
923   2018-07-01                          490.0                             385.0
2232  2020-01-01                          254.0                             148.0
3055  2021-01-01                           75.0                              67.0
3078  2021-01-01                          147.0                              23.0

            date  unnamed: 0_y (monthly_data)  unnamed: 0_y (semiyearly_data)
443   2018-01-01                        542.0                           478.0
3078  2021-01-01                        147.0                            23.0
3090  2021-01-01                        101.0                            65.0
457   2018-01-01                        571.0                           464.0
2230  2020-01-01                        292.0                           221.0
1783  2019-07-01                        327.0                           308.0
3061  2021-01-01                        139.0                            57.0
922   2018-07-01                        509.0                           369.0
38    2017-07-01                        652.0                           537.0
2645  2020-07-01                        194.0                           205.0

            date district_y (monthly_data) district_y (semiyearly_data)
2689  2020-07-01              Kurtunwaarey                      Gebiley
2255  2020-01-01                     Burco                      Banadir
3073  2021-01-01                    Balcad                     Hargeysa
440   2018-01-01                   Bu'aale                    Qoryooley
1758  2019-07-01                    Balcad                       Saakow
3060  2021-01-01                    Zeylac                      Caynabo
876   2018-07-01                   Cadaado                     Galdogob
3548  2021-07-01             Dhuusamarreeb                   Rab Dhuure
5     2017-07-01                    Balcad                        Marka
1378  2019-01-01                 Buuhoodle                     Kismaayo

            date  unnamed: 0.2 (monthly_data)  unnamed: 0.2 (semiyearly_data)
2675  2020-07-01                        164.0                           198.0
3121  2021-01-01                        145.0                           112.0
3113  2021-01-01                        105.0                           130.0
3532  2021-07-01                         39.0                            43.0
1780  2019-07-01                        318.0                           356.0
1386  2019-01-01                        407.0                           380.0
48    2017-07-01                        650.0                           630.0
44    2017-07-01                        619.0                           631.0
2680  2020-07-01                        193.0                           168.0
1777  2019-07-01                        329.0                           342.0

            date  unnamed: 0.1_x.1 (monthly_data)  unnamed: 0.1_x.1 (semiyearly_data)
1793  2019-07-01                            352.0                               318.0
19    2017-07-01                            673.0                               544.0
2672  2020-07-01                            176.0                               166.0
1816  2019-07-01                            328.0                               299.0
1380  2019-01-01                            446.0                               331.0
483   2018-01-01                            582.0                               463.0
1371  2019-01-01                            438.0                               329.0
901   2018-07-01                            465.0                               374.0
1317  2019-01-01                            450.0                               335.0
2659  2020-07-01                            159.0                               164.0

            date  unnamed: 0_x.1 (monthly_data)  unnamed: 0_x.1 (semiyearly_data)
44    2017-07-01                          619.0                             536.0
2251  2020-01-01                          242.0                             161.0
2668  2020-07-01                          180.0                             195.0
3505  2021-07-01                           42.0                              55.0
1775  2019-07-01                          349.0                               NaN
455   2018-01-01                          601.0                             451.0
3509  2021-07-01                           65.0                              40.0
2219  2020-01-01                          246.0                             163.0
502   2018-01-01                          535.0                             476.0
937   2018-07-01                          502.0                             424.0

            date  total population (monthly_data)  total population (semiyearly_data)
472   2018-01-01                    279295.785000                        76346.775000
3083  2021-01-01                     62264.000000                        51734.000000
2223  2020-01-01                     66458.642255                       226940.326729
1328  2019-01-01                     62826.764284                        75284.977917
1754  2019-07-01                    420293.022449                        38521.922596
1364  2019-01-01                     38882.923681                       282277.174997
2663  2020-07-01                     64346.000000                       453434.000000
11    2017-07-01                     93543.300000                       365531.980000
1808  2019-07-01                    122373.319311                       222898.058268
902   2018-07-01                     41293.785458                       183042.935829

            date  under-five population (monthly_data)  under-five population (semiyearly_data)
1     2017-07-01                          15164.613000                             14053.644000
3516  2021-07-01                          34453.400000                             49416.170143
3488  2021-07-01                          16480.000000                            139290.800000
17    2017-07-01                          35667.963000                             17943.588000
942   2018-07-01                          79551.931967                             35762.023338
1755  2019-07-01                          30089.053874                              5322.472327
441   2018-01-01                           9692.361000                            116863.920000
3506  2021-07-01                          30012.000000                             23026.400000
1327  2019-01-01                          20689.738585                              7571.830991
1818  2019-07-01                          19852.434528                             14073.448405

            date  gam (monthly_data)  gam (semiyearly_data)
500   2018-01-01         7174.763037            3333.621564
3114  2021-01-01         4755.000000            4100.000000
2235  2020-01-01        17073.538257           63681.000000
1380  2019-01-01        11730.433103           12896.469848
932   2018-07-01         2350.618442            7065.121470
1353  2019-01-01         7144.427198            1924.544077
7     2017-07-01         8673.154355           15567.165900
3539  2021-07-01         6820.000000            3520.000000
1349  2019-01-01         4770.175222            6286.713781
2630  2020-07-01        26684.000000            2310.000000

            date  mam (monthly_data)  mam (semiyearly_data)
463   2018-01-01         2514.876203            3510.229203
930   2018-07-01         4234.247841           38712.516277
2236  2020-01-01         4997.346124            2207.702202
1782  2019-07-01        11299.751598            5443.847284
2229  2020-01-01         2009.471591            7133.235218
1365  2019-01-01         7408.517454           18020.699031
13    2017-07-01         4945.350267           29542.289377
480   2018-01-01         2898.796329            4809.975206
882   2018-07-01        16092.690477            8181.769416
1332  2019-01-01         5732.797699           11869.135521

            date  sam (monthly_data)  sam (semiyearly_data)
2697  2020-07-01         1004.000000            3246.000000
3491  2021-07-01         3560.000000            1330.000000
43    2017-07-01         1021.577333            5343.331406
2631  2020-07-01         1599.000000            1309.000000
3113  2021-01-01          195.000000             590.000000
1377  2019-01-01         1703.193657            1779.506407
3529  2021-07-01         3930.000000             800.000000
459   2018-01-01         1282.664612             593.363347
2197  2020-01-01         1017.533612             641.153775
496   2018-01-01         1052.038915             981.640202

            date  gam prevalence (monthly_data)  gam prevalence (semiyearly_data)
71    2017-07-01                       0.369200                          0.420668
1316  2019-01-01                       0.352073                          0.478042
2662  2020-07-01                       0.462584                          0.263954
1330  2019-01-01                       0.233031                          0.195165
2203  2020-01-01                       0.531234                          0.495492
1789  2019-07-01                       0.348758                          0.464707
2660  2020-07-01                       0.306084                          0.180894
2233  2020-01-01                       0.266772                          0.313616
3070  2021-01-01                       0.196585                          0.189825
60    2017-07-01                       0.431600                          0.369200

            date  sam prevalence (monthly_data)  sam prevalence (semiyearly_data)
37    2017-07-01                       0.082409                          0.080158