# Imports

In [115]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import timedelta
import datetime
import datacompy

# Load and view our current datasets

In [129]:
df_sy = pd.read_csv("data/semiyearly_data.csv")
df_mon = pd.read_csv("data/monthly_data.csv")
df_baseline = pd.read_csv("data/baseline_data.csv")

In [117]:
df_sy.iloc[:5,]

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1_x,Unnamed: 0_x,date,district_x,total population,Under-Five Population,GAM,MAM,...,Unnamed: 0.1_y.2,Unnamed: 0_y.2,MAM_admissions,SAM_admissions,prevalence_6lag,next_prevalence,month,increase,increase_numeric,district_encoded
0,0,605,605,605,2017-07-01,Adan Yabaal,65262.960,13052.592,4819.016966,3733.041312,...,NaN,NaN,NaN,NaN,NaN,0.3510,7,False,-0.0182,0
1,1,656,656,656,2017-07-01,Lughaye,70268.220,14053.644,5334.763262,4220.309293,...,NaN,NaN,NaN,NaN,NaN,0.1690,7,False,-0.2106,58
2,2,624,624,624,2017-07-01,Buuhoodle,71317.710,14263.542,4858.162405,3652.893106,...,NaN,NaN,NaN,NaN,NaN,0.2028,7,False,-0.1378,23
3,3,657,657,657,2017-07-01,Luuq,100476.765,20095.353,8673.154355,7366.956410,...,NaN,NaN,NaN,NaN,NaN,0.3926,7,False,-0.0390,59
4,4,623,623,623,2017-07-01,Burtinle,112734.270,22546.854,10200.196750,8500.163958,...,NaN,NaN,NaN,NaN,NaN,0.3796,7,False,-0.0728,22

In [118]:
df_mon.iloc[:5,]

,Unnamed: 0,Unnamed: 0.2_x,date,Unnamed: 0.1_x,Unnamed: 0_x,district_x,total population_x,Under-Five Population_x,GAM_x,MAM_x,...,SAM_admissions,prevalence_1lag,next_prevalence,prevalence_6lag,6lag_next_prevalence,month,increase,increase_numeric,district,district_encoded
0,0,0,2017-07-01,658,658,Marka,282222.765,56444.553,20839.328968,16143.142158,...,NaN,NaN,0.369200,NaN,0.3510,7,True,0.0,Marka,56
1,1,2052,2017-07-01,621,621,Bulo Burto,181435.500,36287.100,15567.165900,12548.079180,...,NaN,NaN,0.429000,NaN,0.3926,7,True,0.0,Bulo Burto,17
2,2,1026,2017-07-01,669,669,Taleex,57175.470,11435.094,5054.311548,3865.061772,...,NaN,NaN,0.442000,NaN,0.2912,7,True,0.0,Taleex,66
3,3,108,2017-07-01,635,635,Dhuusamarreeb,166457.645,33291.529,17555.475080,13450.048212,...,NaN,NaN,0.527326,NaN,0.4212,7,True,0.0,Dhuusamarreeb,33
4,4,1512,2017-07-01,614,614,Baraawe,69703.110,13940.622,5146.877642,3987.017892,...,NaN,NaN,0.369200,NaN,0.3510,7,True,0.0,Baraawe,10

In [119]:
df_baseline.iloc[:5,]

,Unnamed: 0,date,district,prevalence,next_prevalence,prevalence_6lag,covid,ndvi,ipc,cropdiv,population,month,increase,increase_numeric,district_encoded
0,0,2018-01-01,Afgooye,0.3510,0.384859,0.3692,0.0,0.273333,0.00,6.0,309683.385,1,True,0.033859,3
1,1,2018-01-01,Gebiley,0.1976,0.244319,0.3380,0.0,0.208333,0.13,2.0,146038.500,1,True,0.046719,51
2,2,2018-01-01,Kurtunwaarey,0.3510,0.446118,0.3692,0.0,0.365000,0.18,5.0,95730.255,1,True,0.095118,61
3,3,2018-01-01,Qansax Dheere,0.2886,0.509285,0.3588,0.0,0.266667,0.09,7.0,123818.085,1,True,0.220685,71
4,4,2018-01-01,Waajid,0.4862,0.474895,0.4862,0.0,0.250000,0.11,5.0,85276.755,1,False,-0.011305,81

# Compare the current datasets

## Comparing baseline against semiyearly

In [120]:
compare_sy = datacompy.Compare(df_baseline,df_sy,
                            join_columns="date",
                            df1_name="baseline_data",
                            df2_name="semiyearly_data")
print(compare_sy.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns  Rows
0    baseline_data       15   231
1  semiyearly_data      109   677

Column Summary
--------------

Number of columns in common: 9
Number of columns in baseline_data but not in semiyearly_data: 6
Number of columns in semiyearly_data but not in baseline_data: 100

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 231
Number of rows in baseline_data but not in semiyearly_data: 0
Number of rows in semiyearly_data but not in baseline_data: 446

Number of rows with some compared columns unequal: 231
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 7
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 1,482

Columns with Unequal Values or Types
------------------------------------

             Column baseline_data dtype semiyearly_data dtype  # Unequal    Max Diff  # Null Diff
1          district              object                object        228    0.000000            0
6  district_encoded               int64                 int64        228   81.000000            0
4          increase                bool                object        113    1.000000            1
5  increase_numeric             float64               float64        228    0.289659            1
2   next_prevalence             float64               float64        228    0.352348            1
3   prevalence_6lag             float64               float64        226    0.323648            3
0        unnamed: 0               int64                 int64        231  316.000000            0

Sample Rows with Unequal Values
-------------------------------

           date  unnamed: 0 (baseline_data)  unnamed: 0 (semiyearly_data)
119  2019-07-01                       127.0                           323
27   2018-01-01                        29.0                           101
176  2020-07-01                       190.0                           466
96   2019-01-01                       102.0                           255
87   2019-01-01                        93.0                           246
6    2018-01-01                         6.0                            80
162  2020-01-01                       175.0                           411
203  2021-01-01                       218.0                           534
90   2019-01-01                        96.0                           249
134  2020-01-01                       145.0                           383

           date district (baseline_data) district (semiyearly_data)
112  2019-07-01                 Sablaale                    Garoowe
80   2019-01-01                    Xudur                  Ceel Buur
165  2020-07-01                    Jilib                    Lughaye
177  2020-07-01            Qansax Dheere                Bandarbeyla
90   2019-01-01                 Sablaale          Baydhaba/Bardaale
149  2020-01-01                Badhaadhe                    Qandala
227  2021-01-01                  Baraawe                  Tayeeglow
77   2019-01-01               Ceel Dheer                    Afgooye
101  2019-07-01                    Xudur                     Taleex
82   2019-01-01              Xarardheere                   Hargeysa

           date  next_prevalence (baseline_data)  next_prevalence (semiyearly_data)
201  2021-01-01                         0.463764                           0.224277
29   2018-01-01                         0.282920                           0.383046
9    2018-01-01                         0.383046                           0.405042
149  2020-01-01                         0.263954                           0.433971
69   2019-01-01                         0.348758                           0.360242
177  2020-07-01                         0.508475                           0.292845
129  2019-07-01                         0.266772                           0.216355
132  2020-01-01                         0.454446                           0.351261
77   2019-01-01                         0.302049                           0.462159
10   2018-01-01                         0.350261                           0.384859

           date  prevalence_6lag (baseline_data)  prevalence_6lag (semiyearly_data)
167  2020-07-01                         0.389925                           0.216355
195  2020-07-01                         0.479814                           0.396455
86   2019-01-01                         0.350261                           0.385832
64   2018-07-01                         0.421200                           0.379600
220  2021-01-01                         0.306084                           0.233128
199  2021-01-01                         0.263954                           0.091189
112  2019-07-01                         0.436521                           0.379073
62   2018-07-01                         0.202800                           0.291200
72   2019-01-01                         0.446118                           0.407744
141  2020-01-01                         0.331082                           0.312139

           date increase (baseline_data) increase (semiyearly_data)
15   2018-01-01                     True                      False
38   2018-07-01                    False                       True
156  2020-01-01                     True                      False
36   2018-07-01                    False                       True
103  2019-07-01                     True                      False
211  2021-01-01                     True                      False
222  2021-01-01                    False                       True
137  2020-01-01                    False                       True
174  2020-07-01                    False                       True
63   2018-07-01                     True                      False

           date  increase_numeric (baseline_data)  increase_numeric (semiyearly_data)
162  2020-01-01                         -0.094511                           -0.205443
212  2021-01-01                          0.055474                            0.022009
1    2018-01-01                          0.046719                            0.018337
169  2020-07-01                          0.013522                           -0.011667
114  2019-07-01                         -0.014620                           -0.120403
171  2020-07-01                          0.049923                            0.052243
209  2021-01-01                          0.095211                           -0.042500
143  2020-01-01                          0.035796                            0.013293
40   2018-07-01                          0.084052                            0.062915
65   2018-07-01                         -0.043484                           -0.158926

           date  district_encoded (baseline_data)  district_encoded (semiyearly_data)
220  2021-01-01                              53.0                                  34
77   2019-01-01                              39.0                                   1
9    2018-01-01                              59.0                                  50
190  2020-07-01                              33.0                                  71
27   2018-01-01                              44.0                                  49
11   2018-01-01                              17.0                                  19
172  2020-07-01                              78.0                                  60
175  2020-07-01                              73.0                                  20
38   2018-07-01                              71.0                                  69
226  2021-01-01                              52.0                                  46

Sample Rows Only in semiyearly_data (First 10 Columns)
------------------------------------------------------

     unnamed: 0  unnamed: 0.2  unnamed: 0.1_x  unnamed: 0_x        date     district_x  total population  under-five population            gam            mam
584         584           126             126           126  2021-01-01    Buur Hakaba      1.297590e+05           25950.000000   12860.000000            NaN
258          27           659             659           659  2017-07-01        Banadir      2.077274e+06          415454.789000  161739.176773  124196.917494
669         669            26              26            26  2021-07-01        Caynabo               NaN           16276.000000    3540.000000            NaN
579         579           128             128           128  2021-01-01  Qansax Dheere      6.193900e+04           12390.000000    6300.000000            NaN
394         262           435             435           435  2019-01-01       Owdweyne      9.975179e+04           19950.357303    4135.587639    3623.347153
385         220           472             472           472  2018-07-01          Burco      4.409668e+05           88193.350121   19502.784230   16092.690477
657         657            29              29            29  2021-07-01      Ceel Buur               NaN           18385.400000    6590.000000            NaN
407         275           439             439           439  2019-01-01      Qoryooley      2.822772e+05           56455.434999   24775.890830   20312.762520
596         596           112             112           112  2021-01-01     Bulo Burto      9.088000e+04           18175.000000    3600.000000            NaN
652         652            30              30            30  2021-07-01     Ceel Dheer               NaN           17808.000000    6000.000000            NaN

## Comparing baseline against monthly

In [121]:
compare_mon = datacompy.Compare(df_baseline,df_mon,
                            join_columns="date",
                            df1_name="baseline_data",
                            df2_name="monthly_data")
print(compare_mon.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

       DataFrame  Columns  Rows
0  baseline_data       15   231
1   monthly_data       73  3936

Column Summary
--------------

Number of columns in common: 12
Number of columns in baseline_data but not in monthly_data: 3
Number of columns in monthly_data but not in baseline_data: 61

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 231
Number of rows in baseline_data but not in monthly_data: 0
Number of rows in monthly_data but not in baseline_data: 3,705

Number of rows with some compared columns unequal: 231
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 10
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 2,169

Columns with Unequal Values or Types
------------------------------------

             Column baseline_data dtype monthly_data dtype  # Unequal      Max Diff  # Null Diff
1          district              object             object        228  0.000000e+00            0
9  district_encoded               int64              int64        230  7.700000e+01            0
7          increase                bool             object        108  1.000000e+00            0
8  increase_numeric             float64            float64        231  2.729598e-01            0
5              ndvi             float64            float64        230  4.350000e-01            4
3   next_prevalence             float64            float64        231  3.772236e-01            0
6        population             float64            float64        228  2.079876e+06            0
2        prevalence             float64            float64        224  3.930867e-01            0
4   prevalence_6lag             float64            float64        228  3.502055e-01            0
0        unnamed: 0               int64              int64        231  2.877000e+03            0

Sample Rows with Unequal Values
-------------------------------

           date  unnamed: 0 (baseline_data)  unnamed: 0 (monthly_data)
27   2018-01-01                        29.0                        471
209  2021-01-01                       224.0                       3101
218  2021-01-01                       234.0                       3110
198  2021-01-01                       213.0                       3090
194  2020-07-01                       209.0                       2693
183  2020-07-01                       197.0                       2682
230  2021-01-01                       247.0                       3122
119  2019-07-01                       127.0                       1796
79   2019-01-01                        85.0                       1345
155  2020-01-01                       168.0                       2243

           date district (baseline_data) district (monthly_data)
39   2018-07-01                   Doolow               Gaalkacyo
149  2020-01-01                Badhaadhe                 Caluula
110  2019-07-01                   Sheikh           Qansax Dheere
51   2018-07-01                    Hobyo                  Qardho
196  2020-07-01                    Hobyo                Diinsoor
173  2020-07-01                   Waajid           Dhuusamarreeb
50   2018-07-01                    Xudur                 Baraawe
124  2019-07-01                  Bu'aale                 Baraawe
178  2020-07-01                  Gebiley             Adan Yabaal
146  2020-01-01                  Bu'aale           Dhuusamarreeb

           date  prevalence (baseline_data)  prevalence (monthly_data)
19   2018-01-01                    0.351000                   0.379600
223  2021-01-01                    0.459391                   0.480974
113  2019-07-01                    0.532680                   0.389948
66   2019-01-01                    0.195165                   0.439176
67   2019-01-01                    0.309624                   0.312485
108  2019-07-01                    0.412029                   0.460726
99   2019-07-01                    0.500414                   0.264928
97   2019-01-01                    0.397643                   0.481612
160  2020-01-01                    0.631234                   0.324353
116  2019-07-01                    0.589845                   0.243033

           date  next_prevalence (baseline_data)  next_prevalence (monthly_data)
119  2019-07-01                         0.348957                        0.548118
50   2018-07-01                         0.481612                        0.378577
53   2018-07-01                         0.344094                        0.406036
17   2018-01-01                         0.390895                        0.336700
37   2018-07-01                         0.438857                        0.229365
79   2019-01-01                         0.521397                        0.435675
147  2020-01-01                         0.285842                        0.396278
188  2020-07-01                         0.358328                        0.359661
184  2020-07-01                         0.492388                        0.424443
65   2018-07-01                         0.195165                        0.345678

           date  prevalence_6lag (baseline_data)  prevalence_6lag (monthly_data)
120  2019-07-01                         0.425632                        0.523846
122  2019-07-01                         0.470948                        0.523187
107  2019-07-01                         0.473194                        0.441732
171  2020-07-01                         0.213871                        0.463714
102  2019-07-01                         0.344094                        0.207294
12   2018-01-01                         0.369200                        0.479693
161  2020-01-01                         0.465640                        0.554585
85   2019-01-01                         0.378577                        0.344711
167  2020-07-01                         0.389925                        0.289893
194  2020-07-01                         0.216355                        0.396455

           date  ndvi (baseline_data)  ndvi (monthly_data)
81   2019-01-01              0.551667                 0.17
140  2020-01-01              0.456667                 0.56
117  2019-07-01              0.288333                 0.18
46   2018-07-01              0.198333                 0.22
205  2021-01-01              0.563333                 0.26
226  2021-01-01              0.200000                 0.13
113  2019-07-01              0.353333                 0.16
92   2019-01-01              0.315000                 0.21
161  2020-01-01              0.593333                 0.26
157  2020-01-01              0.505000                 0.48

           date  population (baseline_data)  population (monthly_data)
80   2019-01-01               119822.712531               99751.786513
187  2020-07-01                78010.000000               51735.000000
49   2018-07-01               122284.683505               53800.574476
219  2021-01-01                87386.000000              207773.000000
24   2018-01-01               282222.765000              218785.545000
141  2020-01-01                87385.565742               72923.281661
23   2018-01-01               100476.765000              282222.765000
97   2019-01-01                83698.784485              119822.712531
213  2021-01-01               188548.000000              139564.000000
67   2019-01-01               194982.614242               99262.172639

           date increase (baseline_data) increase (monthly_data)
100  2019-07-01                    False                    True
104  2019-07-01                    False                    True
141  2020-01-01                    False                    True
113  2019-07-01                    False                    True
223  2021-01-01                    False                    True
186  2020-07-01                    False                    True
196  2020-07-01                    False                    True
207  2021-01-01                    False                    True
128  2019-07-01                    False                    True
121  2019-07-01                    False                    True

           date  increase_numeric (baseline_data)  increase_numeric (monthly_data)
188  2020-07-01                          0.052243                              0.0
89   2019-01-01                          0.069176                              0.0
60   2018-07-01                          0.122933                              0.0
48   2018-07-01                         -0.092803                              0.0
37   2018-07-01                          0.002478                              0.0
100  2019-07-01                         -0.020378                              0.0
108  2019-07-01                         -0.035062                              0.0
101  2019-07-01                          0.003771                              0.0
124  2019-07-01                         -0.116907                              0.0
118  2019-07-01                         -0.272960                              0.0

           date  district_encoded (baseline_data)  district_encoded (monthly_data)
31   2018-01-01                              69.0                               18
226  2021-01-01                              52.0                               71
62   2018-07-01                              78.0                               27
51   2018-07-01                              53.0                               60
50   2018-07-01                              85.0                               10
222  2021-01-01                              71.0                               46
12   2018-01-01                              73.0                               37
119  2019-07-01                               7.0                               67
176  2020-07-01                              83.0                               29
71   2019-01-01                              59.0                               25

Sample Rows Only in monthly_data (First 10 Columns)
---------------------------------------------------

      unnamed: 0  unnamed: 0.2_x        date  unnamed: 0.1_x  unnamed: 0_x   district_x  total population_x  under-five population_x         gam_x         mam_x
2671        2605            3665  2020-06-01             232           232  Bandarbeyla        15022.505538              3004.501108    974.518638    850.349322
1457        1292            1907  2018-12-01             470           470      Bu'aale       102232.683000             20446.536600   8434.566661   7090.023900
692          494             870  2018-01-01             583           583         Luuq       100476.765000             20095.353000   7889.435588   7131.840780
2055        1956            1322  2019-09-01             348           348       Jowhar       183042.935829             36608.587166  16866.522989  14326.611695
579          348            1462  2017-11-01             650           650        Jilib       103739.085000             20747.817000   8954.757817   7606.149712
299           68            1836  2017-07-01             607           607      Afmadow        80386.780000             16077.356000   6763.226850   5704.678710
3499        3499            3209  2021-06-01             135           135  Belet Xaawo        71052.000000             14210.000000   5450.000000           NaN
1714        1582            3399  2019-04-01             419           419     Hargeysa       959744.190386            191948.838077  37461.601818  33340.791769
3544        3544            1560  2021-07-01              10            10      Baraawe                 NaN             10954.968728   5100.000000           NaN
3268        3268            1718  2021-03-01             114           114  Adan Yabaal        35879.000000              7175.000000   1990.000000           NaN

## Comparing monthly against semiyearly

In [122]:
compare_mon_sy = datacompy.Compare(df_mon,df_sy,
                            join_columns="date",
                            df1_name="monthly_data",
                            df2_name="semiyearly_data")
print(compare_mon_sy.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns  Rows
0     monthly_data       73  3936
1  semiyearly_data      109   677

Column Summary
--------------

Number of columns in common: 42
Number of columns in monthly_data but not in semiyearly_data: 31
Number of columns in semiyearly_data but not in monthly_data: 67

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 656
Number of rows in monthly_data but not in semiyearly_data: 3,280
Number of rows in semiyearly_data but not in monthly_data: 21

Number of rows with some compared columns unequal: 656
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 40
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 23,070

Columns with Unequal Values or Types
------------------------------------

                     Column monthly_data dtype semiyearly_data dtype  # Unequal       Max Diff  # Null Diff
17         average of centx            float64               float64        652       8.643430           14
16         average of centy            float64               float64        651      11.775498           14
25        awd/cholera cases            float64               float64        384     800.000000          331
26       awd/cholera deaths            float64               float64         36       8.000000           35
38                 district             object                object        651       0.000000            0
39         district_encoded              int64                 int64        643      76.000000            0
3                district_x             object                object        651       0.000000            0
6                district_y             object                object        651       0.000000           16
10                      gam            float64               float64        650  248730.000000            0
36                 increase             object                object        389       1.000000           73
37         increase_numeric            float64               float64        650       0.344788           73
29  insecurity - fatalities            float64               float64        581     116.000000          306
28   insecurity - incidents            float64               float64        567      69.666667          306
22             maize prices            float64               float64        534     820.000000          322
27            malaria cases            float64               float64        484     899.000000          316
11                      mam            float64               float64        514  166229.000000            1
32           mam_admissions            float64               float64        411   10670.500000           98
24            measles cases            float64               float64        495     679.000000          348
23     new admissions (gam)            float64               float64        643     963.666667          169
34          next_prevalence            float64               float64        656       0.370303           73
35          prevalence_6lag            float64               float64        572       0.407188            5
20           price of water            float64               float64        510     520.000000          319
19                 rainfall            float64               float64        656     123.330000           14
12                      sam            float64               float64        651   48010.000000            0
13           sam prevalence            float64               float64        640       0.129228            0
14            sam/gam ratio            float64               float64        642       0.196462            0
33           sam_admissions            float64               float64        426    6104.833333           98
21           sorghum prices            float64               float64        543      64.566667          339
30             total alarms              int64               float64        641      12.666667           14
9     under-five population            float64               float64        651  520931.400000            0
0                unnamed: 0              int64                 int64        582    2913.000000            0
1            unnamed: 0.1_x              int64                 int64        651     258.000000            0
4            unnamed: 0.1_y              int64               float64        655     272.000000           16
7              unnamed: 0.2              int64                 int64        656    4040.000000            0
2              unnamed: 0_x              int64                 int64        651     258.000000            0
8            unnamed: 0_x.1              int64               float64        655     272.000000           16
18           unnamed: 0_x.2              int64               float64        656     254.000000           14
5              unnamed: 0_y              int64               float64        655     272.000000           16
15           unnamed: 0_y.1              int64               float64        656    3584.500000           14
31           unnamed: 0_y.2            float64               float64        428    2205.000000           89

Sample Rows with Unequal Values
-------------------------------

            date  unnamed: 0 (monthly_data)  unnamed: 0 (semiyearly_data)
1830  2019-07-01                     1830.0                         357.0
2293  2020-01-01                     2293.0                         454.0
920   2018-07-01                      920.0                         180.0
469   2018-01-01                      469.0                          99.0
2271  2020-01-01                     2271.0                         432.0
3547  2021-07-01                     3547.0                         634.0
2702  2020-07-01                     2702.0                         493.0
1789  2019-07-01                     1789.0                         316.0
960   2018-07-01                      960.0                         220.0
2280  2020-01-01                     2280.0                         441.0

            date  unnamed: 0.1_x (monthly_data)  unnamed: 0.1_x (semiyearly_data)
506   2018-01-01                          586.0                             563.0
3584  2021-07-01                           66.0                              62.0
3520  2021-07-01                           22.0                              73.0
2233  2020-01-01                          224.0                             253.0
2729  2020-07-01                          217.0                             188.0
3115  2021-01-01                          164.0                              76.0
3098  2021-01-01                          102.0                             142.0
2220  2020-01-01                          294.0                             277.0
960   2018-07-01                          487.0                             472.0
1798  2019-07-01                          305.0                             343.0

            date  unnamed: 0_x (monthly_data)  unnamed: 0_x (semiyearly_data)
1819  2019-07-01                        300.0                           314.0
930   2018-07-01                        514.0                           456.0
14    2017-07-01                        633.0                           664.0
488   2018-01-01                        587.0                           582.0
948   2018-07-01                        517.0                           527.0
1818  2019-07-01                        333.0                           322.0
3583  2021-07-01                         68.0                            11.0
2222  2020-01-01                        272.0                           227.0
2727  2020-07-01                        199.0                           171.0
2673  2020-07-01                        180.0                           186.0

            date district_x (monthly_data) district_x (semiyearly_data)
1379  2019-01-01                Ceerigaabo                       Qardho
3578  2021-07-01                Iskushuban                       Saakow
496   2018-01-01                   Berbera                  Garbahaarey
54    2017-07-01              Laas Caanood                      Caluula
1842  2019-07-01                     Burco                       Doolow
30    2017-07-01               Ceel Afweyn                 Laas Caanood
3577  2021-07-01                   Banadir                  Ceel Afweyn
2691  2020-07-01                   Bu'aale                         Baki
2688  2020-07-01                Ceerigaabo                   Rab Dhuure
457   2018-01-01                Wanla Weyn                       Borama

            date  unnamed: 0.1_y (monthly_data)  unnamed: 0.1_y (semiyearly_data)
3533  2021-07-01                           38.0                              24.0
1390  2019-01-01                          374.0                             298.0
504   2018-01-01                          600.0                             447.0
945   2018-07-01                          486.0                             394.0
37    2017-07-01                          675.0                             561.0
2273  2020-01-01                          292.0                             177.0
513   2018-01-01                          542.0                             502.0
2293  2020-01-01                          237.0                             189.0
3522  2021-07-01                           37.0                              45.0
1345  2019-01-01                          434.0                             346.0

            date  unnamed: 0_y (monthly_data)  unnamed: 0_y (semiyearly_data)
46    2017-07-01                        624.0                           535.0
444   2018-01-01                        553.0                           499.0
926   2018-07-01                        453.0                           427.0
3115  2021-01-01                        164.0                             2.0
902   2018-07-01                        474.0                           388.0
482   2018-01-01                        564.0                           462.0
1339  2019-01-01                        406.0                           337.0
504   2018-01-01                        600.0                           447.0
3538  2021-07-01                         46.0                            73.0
3154  2021-01-01                        111.0                            24.0

            date district_y (monthly_data) district_y (semiyearly_data)
1358  2019-01-01                    Sheikh                   Wanla Weyn
949   2018-07-01               Xarardheere                      Baraawe
492   2018-01-01                    Waajid                        Xudur
2231  2020-01-01                 Jalalaqsi                      Baraawe
32    2017-07-01                     Burco                          Eyl
3105  2021-01-01                  Diinsoor                  Ceel Afweyn
3124  2021-01-01               Garbahaarey                   Iskushuban
2711  2020-07-01                    Baidoa                       Cadale
2667  2020-07-01              Laas Caanood                        Burco
1346  2019-01-01                  Owdweyne                    Ceel Buur

            date  unnamed: 0.2 (monthly_data)  unnamed: 0.2 (semiyearly_data)
1396  2019-01-01                        450.0                           427.0
1357  2019-01-01                       1524.0                           417.0
1347  2019-01-01                       3114.0                           408.0
6     2017-07-01                       1692.0                           660.0
3547  2021-07-01                       3252.0                            15.0
3578  2021-07-01                        960.0                            63.0
1825  2019-07-01                       2778.0                           330.0
2726  2020-07-01                       3042.0                           202.0
2269  2020-01-01                       2172.0                           226.0
1837  2019-07-01                        186.0                           364.0

            date  unnamed: 0_x.1 (monthly_data)  unnamed: 0_x.1 (semiyearly_data)
25    2017-07-01                          628.0                             523.0
67    2017-07-01                          626.0                             521.0
1806  2019-07-01                          334.0                             363.0
3106  2021-01-01                           92.0                              68.0
2685  2020-07-01                          160.0                             154.0
1838  2019-07-01                          319.0                             332.0
487   2018-01-01                          582.0                             491.0
1795  2019-07-01                          328.0                             334.0
3541  2021-07-01                           18.0                              55.0
3127  2021-01-01                           82.0                              72.0

            date  under-five population (monthly_data)  under-five population (semiyearly_data)
1803  2019-07-01                          44157.667184                              8440.204710
3118  2021-01-01                           6625.000000                             13970.000000
3517  2021-07-01                          12893.494046                             17190.000000
27    2017-07-01                          21032.442000                            415454.789000
922   2018-07-01                          12565.352857                             20600.875601
1809  2019-07-01                          10760.114895                             20689.738585
10    2017-07-01                          15164.613000                             24763.617000
3150  2021-01-01                          13915.000000                             11260.000000
957   2018-07-01                          19888.491110                             20689.738585
487   2018-01-01                          14053.644000                             37378.611000

            date  gam (monthly_data)  gam (semiyearly_data)
495   2018-01-01         2177.132022           99473.043197
2677  2020-07-01         2074.000000            2626.000000
2290  2020-01-01        63681.000000            5178.476799
1     2017-07-01        15567.165900            5334.763262
3521  2021-07-01         6740.000000           14260.000000
1843  2019-07-01        16713.415212           18505.894887
2274  2020-01-01         9142.018390           12308.901218
2293  2020-01-01         5102.093958           36072.535238
3580  2021-07-01         3780.000000            5680.000000
3547  2021-07-01        12050.000000           57500.000000

            date  mam (monthly_data)  mam (semiyearly_data)
1820  2019-07-01         1949.636256           24135.104055
1349  2019-01-01        11869.135521            9075.971607
43    2017-07-01         8500.163958           21670.177370
494   2018-01-01         7131.840780            4415.935306
1400  2019-01-01         6845.807864           18539.700120
1800  2019-07-01         6134.918883           10528.600240
2679  2020-07-01         2127.000000            1909.000000
54    2017-07-01        11499.751692            4541.702958
452   2018-01-01         5419.094089           34476.561066
904   2018-07-01         1958.340911            5358.703058

            date  sam (monthly_data)  sam (semiyearly_data)
2690  2020-07-01         3050.000000            3179.000000
2242  2020-01-01          299.513533            1506.471353
2717  2020-07-01          536.000000             388.000000
9     2017-07-01         4677.948288            1216.062900
2230  2020-01-01          641.153775             299.513533
2676  2020-07-01         2100.000000             106.000000
935   2018-07-01         7076.721490            2148.218377
23    2017-07-01         1306.197945            1047.965818
3116  2021-01-01         1015.000000            2610.000000
3574  2021-07-01         1100.000000            1630.000000

            date  sam prevalence (monthly_data)  sam prevalence (semiyearly_data)
1389  2019-01-01                       0.078971                          0.052650
2699  2020-07-01                       0.079326                          0.016132
505   2018-01-01                       0.066300                          0.140400
463   2018-01-01                       0.052000                          0.066300
1377  2019-01-01                       0.043367                          0.057395
2684  2020-07-01                       0.048567                          0.086670
2270  2020-01-01                       0.072040                          0.119397
1807  2019-07-01                       0.067712                          0.053607
1374  2019-01-01                       0.053868                          0.031709
926   2018-07-01                       0.071732                          0.066044

            date  sam/gam ratio (monthly_data)  sam/gam ratio (semiyearly_data)
1398  2019-01-01                      0.118466                         0.153976
444   2018-01-01                      0.151515                         0.229630
2671  2020-07-01                      0.136169                         0.179583
3137  2021-01-01                      0.174781                         0.195846
917   2018-07-01                      0.192729                         0.229100
890   2018-07-01                      0.193532                         0.180343
511   2018-01-01                      0.157407                         0.229630
2245  2020-01-01                      0.139865                         0.138369
952   2018-07-01                      0.164929                         0.178563
1392  2019-01-01                      0.123324                         0.161025

            date  unnamed: 0_y.1 (monthly_data)  unnamed: 0_y.1 (semiyearly_data)
1391  2019-01-01                         1113.0                            2428.5
68    2017-07-01                          115.0                              58.5
900   2018-07-01                          323.0                             168.5
2258  2020-01-01                         2840.0                            3420.5
1403  2019-01-01                         3612.0                             174.5
2236  2020-01-01                         3526.0                            3028.5
1397  2019-01-01                          231.0                             370.5
2677  2020-07-01                           48.0                            3475.5
2252  2020-01-01                         2546.0                            2391.5
2282  2020-01-01                         1174.0                            1754.5

            date  average of centy (monthly_data)  average of centy (semiyearly_data)
922   2018-07-01                         3.835937                            4.051839
920   2018-07-01                         3.205999                           -0.381145
2722  2020-07-01                         2.485374                           10.551600
1826  2019-07-01                         1.740153                           11.668220
2247  2020-01-01                         2.993369                            3.900063
890   2018-07-01                         9.179458                            8.460162
3570  2021-07-01                         7.802199                            4.760488
3096  2021-01-01                         4.673877                            9.282376
1364  2019-01-01                         9.282376                            1.245786
3158  2021-01-01                         3.900063                            9.257388

            date  average of centx (monthly_data)  average of centx (semiyearly_data)