# Imports

In [3]:
import pandas as pd
import numpy as np
from datetime import timedelta
import datetime
import datacompy

# Load and view our current datasets

In [4]:
df_sy = pd.read_csv("data/semiyearly_data.csv")
df_mon = pd.read_csv("data/monthly_data.csv")
df_baseline = pd.read_csv("data/baseline_data.csv")

In [5]:
df_sy.iloc[:5,]

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1_x,Unnamed: 0_x,date,district_x,total population,Under-Five Population,GAM,MAM,...,Unnamed: 0.1_y.2,Unnamed: 0_y.2,MAM_admissions,SAM_admissions,prevalence_6lag,next_prevalence,month,increase,increase_numeric,district_encoded
0,0,605,605,605,2017-07-01,Adan Yabaal,65262.960,13052.592,4819.016966,3733.041312,...,NaN,NaN,NaN,NaN,NaN,0.3510,7,False,-0.0182,0
1,1,656,656,656,2017-07-01,Lughaye,70268.220,14053.644,5334.763262,4220.309293,...,NaN,NaN,NaN,NaN,NaN,0.1690,7,False,-0.2106,58
2,2,624,624,624,2017-07-01,Buuhoodle,71317.710,14263.542,4858.162405,3652.893106,...,NaN,NaN,NaN,NaN,NaN,0.2028,7,False,-0.1378,23
3,3,657,657,657,2017-07-01,Luuq,100476.765,20095.353,8673.154355,7366.956410,...,NaN,NaN,NaN,NaN,NaN,0.3926,7,False,-0.0390,59
4,4,623,623,623,2017-07-01,Burtinle,112734.270,22546.854,10200.196750,8500.163958,...,NaN,NaN,NaN,NaN,NaN,0.3796,7,False,-0.0728,22

In [6]:
df_mon.iloc[:5,]

,Unnamed: 0,Unnamed: 0.2_x,date,Unnamed: 0.1_x,Unnamed: 0_x,district_x,total population_x,Under-Five Population_x,GAM_x,MAM_x,...,SAM_admissions,prevalence_1lag,next_prevalence,prevalence_6lag,6lag_next_prevalence,month,increase,increase_numeric,district,district_encoded
0,0,0,2017-07-01,658,658,Marka,282222.765,56444.553,20839.328968,16143.142158,...,NaN,NaN,0.369200,NaN,0.3510,7,True,0.0,Marka,56
1,1,2052,2017-07-01,621,621,Bulo Burto,181435.500,36287.100,15567.165900,12548.079180,...,NaN,NaN,0.429000,NaN,0.3926,7,True,0.0,Bulo Burto,17
2,2,1026,2017-07-01,669,669,Taleex,57175.470,11435.094,5054.311548,3865.061772,...,NaN,NaN,0.442000,NaN,0.2912,7,True,0.0,Taleex,66
3,3,108,2017-07-01,635,635,Dhuusamarreeb,166457.645,33291.529,17555.475080,13450.048212,...,NaN,NaN,0.527326,NaN,0.4212,7,True,0.0,Dhuusamarreeb,33
4,4,1512,2017-07-01,614,614,Baraawe,69703.110,13940.622,5146.877642,3987.017892,...,NaN,NaN,0.369200,NaN,0.3510,7,True,0.0,Baraawe,10

In [7]:
df_baseline.iloc[:5,]

,Unnamed: 0,date,district,prevalence,next_prevalence,prevalence_6lag,covid,ndvi,ipc,cropdiv,population,month,increase,increase_numeric,district_encoded
0,0,2018-01-01,Afgooye,0.3510,0.384859,0.3692,0.0,0.273333,0.00,6.0,309683.385,1,True,0.033859,3
1,1,2018-01-01,Gebiley,0.1976,0.244319,0.3380,0.0,0.208333,0.13,2.0,146038.500,1,True,0.046719,51
2,2,2018-01-01,Kurtunwaarey,0.3510,0.446118,0.3692,0.0,0.365000,0.18,5.0,95730.255,1,True,0.095118,61
3,3,2018-01-01,Qansax Dheere,0.2886,0.509285,0.3588,0.0,0.266667,0.09,7.0,123818.085,1,True,0.220685,71
4,4,2018-01-01,Waajid,0.4862,0.474895,0.4862,0.0,0.250000,0.11,5.0,85276.755,1,False,-0.011305,81

# Compare the current datasets

## Comparing baseline against semiyearly

In [8]:
compare_sy = datacompy.Compare(df_baseline,df_sy,
                            join_columns="date",
                            df1_name="baseline_data",
                            df2_name="semiyearly_data")
print(compare_sy.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns  Rows
0    baseline_data       15   231
1  semiyearly_data      109   677

Column Summary
--------------

Number of columns in common: 9
Number of columns in baseline_data but not in semiyearly_data: 6
Number of columns in semiyearly_data but not in baseline_data: 100

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 231
Number of rows in baseline_data but not in semiyearly_data: 0
Number of rows in semiyearly_data but not in baseline_data: 446

Number of rows with some compared columns unequal: 231
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 7
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 1,482

Columns with Unequal Values or Types
------------------------------------

             Column baseline_data dtype semiyearly_data dtype  # Unequal    Max Diff  # Null Diff
1          district              object                object        228    0.000000            0
6  district_encoded               int64                 int64        228   81.000000            0
4          increase                bool                object        113    1.000000            1
5  increase_numeric             float64               float64        228    0.289659            1
2   next_prevalence             float64               float64        228    0.352348            1
3   prevalence_6lag             float64               float64        226    0.323648            3
0        unnamed: 0               int64                 int64        231  316.000000            0

Sample Rows with Unequal Values
-------------------------------

           date  unnamed: 0 (baseline_data)  unnamed: 0 (semiyearly_data)
56   2018-07-01                        60.0                           171
228  2021-01-01                       245.0                           559
66   2019-01-01                        70.0                           225
26   2018-01-01                        28.0                           100
145  2020-01-01                       158.0                           394
33   2018-07-01                        35.0                           148
214  2021-01-01                       229.0                           545
204  2021-01-01                       219.0                           535
160  2020-01-01                       173.0                           409
224  2021-01-01                       241.0                           555

           date district (baseline_data) district (semiyearly_data)
193  2020-07-01               Baardheere                Belet Xaawo
100  2019-07-01             Kurtunwaarey                Xarardheere
114  2019-07-01                   Waajid                      Jilib
166  2020-07-01                  Jamaame                      Xudur
221  2021-01-01                  Bu'aale                     Waajid
126  2019-07-01               Ceel Dheer                       Luuq
83   2019-01-01                   Balcad                Garbahaarey
195  2020-07-01               Bulo Burto                     Qardho
129  2019-07-01                  Gebiley                   Owdweyne
158  2020-01-01                    Hobyo                    Lughaye

           date  next_prevalence (baseline_data)  next_prevalence (semiyearly_data)
190  2020-07-01                         0.275946                           0.493352
162  2020-01-01                         0.436723                           0.415729
115  2019-07-01                         0.473504                           0.313616
160  2020-01-01                         0.442016                           0.290517
173  2020-07-01                         0.493352                           0.185376
29   2018-01-01                         0.282920                           0.383046
150  2020-01-01                         0.460408                           0.415325
183  2020-07-01                         0.370515                           0.431977
111  2019-07-01                         0.648001                           0.409092
48   2018-07-01                         0.314940                           0.439176

           date  prevalence_6lag (baseline_data)  prevalence_6lag (semiyearly_data)
165  2020-07-01                         0.390929                           0.308400
220  2021-01-01                         0.306084                           0.233128
51   2018-07-01                         0.400400                           0.336700
151  2020-01-01                         0.511333                           0.412029
178  2020-07-01                         0.266772                           0.396278
19   2018-01-01                         0.369200                           0.527326
110  2019-07-01                         0.252666                           0.401737
56   2018-07-01                         0.486200                           0.392600
207  2021-01-01                         0.375744                           0.383328
185  2020-07-01                         0.549549                           0.408217

           date increase (baseline_data) increase (semiyearly_data)
166  2020-07-01                    False                       True
129  2019-07-01                     True                      False
179  2020-07-01                    False                       True
85   2019-01-01                     True                      False
164  2020-01-01                     True                      False
178  2020-07-01                     True                      False
125  2019-07-01                    False                       True
38   2018-07-01                    False                       True
39   2018-07-01                    False                       True
41   2018-07-01                     True                      False

           date  increase_numeric (baseline_data)  increase_numeric (semiyearly_data)
142  2020-01-01                         -0.003693                            0.034544
26   2018-01-01                         -0.064985                            0.013436
228  2021-01-01                          0.041440                           -0.003340
112  2019-07-01                          0.000955                           -0.078056
153  2020-01-01                         -0.102560                            0.040299
74   2019-01-01                          0.217740                            0.046327
78   2019-01-01                          0.023819                            0.015545
65   2018-07-01                         -0.043484                           -0.158926
44   2018-07-01                         -0.006942                            0.156722
124  2019-07-01                         -0.116907                            0.021920

           date  district_encoded (baseline_data)  district_encoded (semiyearly_data)
13   2018-01-01                              24.0                                  17
164  2020-01-01                              14.0                                  51
111  2019-07-01                              71.0                                  50
138  2020-01-01                               6.0                                  49
68   2019-01-01                              45.0                                  14
67   2019-01-01                              60.0                                  36
65   2018-07-01                              52.0                                  53
208  2021-01-01                              59.0                                  43
169  2020-07-01                               7.0                                   0
217  2021-01-01                              80.0                                  45

Sample Rows Only in semiyearly_data (First 10 Columns)
------------------------------------------------------

     unnamed: 0  unnamed: 0.2  unnamed: 0.1_x  unnamed: 0_x        date   district_x  total population  under-five population           gam           mam
664         664            27              27            27  2021-07-01  Ceel Afweyn               NaN           15731.000000   4090.000000           NaN
497         431           240             240           240  2020-01-01     Diinsoor     139564.346066           27912.869213  17619.561889  14286.843240
482         416           273             273           273  2020-01-01       Jowhar     156219.500418           31243.900084  13941.266639  11754.298842
642         642            36              36            36  2021-07-01          Eyl               NaN           28766.514158  10380.000000           NaN
287          56           626             626           626  2017-07-01       Cadale      48461.805000            9692.361000   3578.419681   2772.015246
636         636            24              24            24  2021-07-01       Cadale               NaN           13885.000000   3990.000000           NaN
576         576           133             133           133  2021-01-01        Xudur      79232.000000           15845.000000   8425.000000           NaN
479         380           318             318           318  2019-07-01     Burtinle      61401.072471           12280.214494   4725.951890   3894.431028
367         202           469             469           469  2018-07-01      Bossaso     474784.640443           94956.928089  45789.237767  38712.516277
452         353           324             324           324  2019-07-01      Caluula      49878.022467            9975.604493   4699.089801   4106.393061

## Comparing baseline against monthly

In [9]:
compare_mon = datacompy.Compare(df_baseline,df_mon,
                            join_columns="date",
                            df1_name="baseline_data",
                            df2_name="monthly_data")
print(compare_mon.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

       DataFrame  Columns  Rows
0  baseline_data       15   231
1   monthly_data       73  3936

Column Summary
--------------

Number of columns in common: 12
Number of columns in baseline_data but not in monthly_data: 3
Number of columns in monthly_data but not in baseline_data: 61

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 231
Number of rows in baseline_data but not in monthly_data: 0
Number of rows in monthly_data but not in baseline_data: 3,705

Number of rows with some compared columns unequal: 231
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 10
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 2,169

Columns with Unequal Values or Types
------------------------------------

             Column baseline_data dtype monthly_data dtype  # Unequal      Max Diff  # Null Diff
1          district              object             object        228  0.000000e+00            0
9  district_encoded               int64              int64        230  7.700000e+01            0
7          increase                bool             object        108  1.000000e+00            0
8  increase_numeric             float64            float64        231  2.729598e-01            0
5              ndvi             float64            float64        230  4.350000e-01            4
3   next_prevalence             float64            float64        231  3.772236e-01            0
6        population             float64            float64        228  2.079876e+06            0
2        prevalence             float64            float64        224  3.930867e-01            0
4   prevalence_6lag             float64            float64        228  3.502055e-01            0
0        unnamed: 0               int64              int64        231  2.877000e+03            0

Sample Rows with Unequal Values
-------------------------------

           date  unnamed: 0 (baseline_data)  unnamed: 0 (monthly_data)
34   2018-07-01                        36.0                        889
66   2019-01-01                        70.0                       1332
156  2020-01-01                       169.0                       2244
91   2019-01-01                        97.0                       1357
12   2018-01-01                        12.0                        456
78   2019-01-01                        83.0                       1344
13   2018-01-01                        13.0                        457
113  2019-07-01                       121.0                       1790
160  2020-01-01                       173.0                       2248
133  2020-01-01                       144.0                       2221

           date district (baseline_data) district (monthly_data)
97   2019-01-01                   Cadale                   Xudur
219  2021-01-01                 Owdweyne               Qoryooley
118  2019-07-01               Baardheere               Ceel Buur
189  2020-07-01               Ceel Dheer              Ceerigaabo
44   2018-07-01             Kurtunwaarey             Belet Weyne
88   2019-01-01                   Sheikh               Qoryooley
9    2018-01-01                   Jowhar                Galdogob
61   2018-07-01                   Jowhar                Kismaayo
173  2020-07-01                   Waajid           Dhuusamarreeb
69   2019-01-01                    Hobyo               Tayeeglow

           date  prevalence (baseline_data)  prevalence (monthly_data)
85   2019-01-01                    0.439932                   0.344094
84   2019-01-01                    0.479289                   0.470640
108  2019-07-01                    0.412029                   0.460726
14   2018-01-01                    0.202800                   0.336700
127  2019-07-01                    0.551284                   0.350049
225  2021-01-01                    0.454883                   0.301845
194  2020-07-01                    0.132174                   0.399798
122  2019-07-01                    0.586805                   0.471058
141  2020-01-01                    0.216355                   0.372895
199  2021-01-01                    0.277476                   0.383533

           date  next_prevalence (baseline_data)  next_prevalence (monthly_data)
6    2018-01-01                         0.378577                        0.351000
123  2019-07-01                         0.213871                        0.384560
137  2020-01-01                         0.141288                        0.518512
170  2020-07-01                         0.491189                        0.374207
133  2020-01-01                         0.306085                        0.549549
128  2019-07-01                         0.426129                        0.532680
14   2018-01-01                         0.250586                        0.336700
180  2020-07-01                         0.460554                        0.306085
179  2020-07-01                         0.194715                        0.288514
81   2019-01-01                         0.482359                        0.484703

           date  prevalence_6lag (baseline_data)  prevalence_6lag (monthly_data)
116  2019-07-01                         0.470453                        0.265736
75   2019-01-01                         0.244319                        0.384859
84   2019-01-01                         0.474895                        0.509285
108  2019-07-01                         0.309624                        0.436109
109  2019-07-01                         0.315706                        0.321562
104  2019-07-01                         0.436109                        0.323722
136  2020-01-01                         0.336884                        0.551284
126  2019-07-01                         0.323722                        0.323761
224  2021-01-01                         0.462584                        0.450524
23   2018-01-01                         0.431600                        0.369200

           date  ndvi (baseline_data)  ndvi (monthly_data)
122  2019-07-01              0.228333                 0.16
7    2018-01-01              0.000000                 0.07
169  2020-07-01              0.605000                 0.57
115  2019-07-01              0.286667                 0.49
206  2021-01-01              0.435000                 0.18
20   2018-01-01              0.293333                 0.29
179  2020-07-01              0.363333                 0.15
183  2020-07-01              0.551667                 0.61
83   2019-01-01              0.331667                 0.41
200  2021-01-01              0.353333                 0.49

           date  population (baseline_data)  population (monthly_data)
189  2020-07-01                72923.000000              195781.000000
130  2019-07-01               959744.190386               61401.072471
173  2020-07-01                69574.000000               99941.000000
97   2019-01-01                83698.784485              119822.712531
29   2018-01-01                48461.805000              141077.745000
108  2019-07-01               194982.614242              183042.935829
158  2020-01-01                69851.376499              453433.570511
120  2019-07-01               211434.124732               62204.203874
75   2019-01-01               103448.692925              262835.818868
5    2018-01-01                42455.700000               89717.940000

           date increase (baseline_data) increase (monthly_data)
162  2020-01-01                    False                    True
225  2021-01-01                    False                    True
30   2018-01-01                    False                    True
83   2019-01-01                    False                    True
207  2021-01-01                    False                    True
200  2021-01-01                    False                    True
49   2018-07-01                    False                    True
181  2020-07-01                    False                    True
190  2020-07-01                    False                    True
106  2019-07-01                    False                    True

           date  increase_numeric (baseline_data)  increase_numeric (monthly_data)
34   2018-07-01                         -0.023048                              0.0
191  2020-07-01                          0.068799                              0.0
59   2018-07-01                          0.061354                              0.0
46   2018-07-01                         -0.036169                              0.0
167  2020-07-01                          0.024145                              0.0
96   2019-01-01                          0.018284                              0.0
122  2019-07-01                         -0.091314                              0.0
25   2018-01-01                          0.015144                              0.0
197  2020-07-01                          0.058562                              0.0
129  2019-07-01                          0.024873                              0.0

           date  district_encoded (baseline_data)  district_encoded (monthly_data)
93   2019-01-01                              24.0                               47
145  2020-01-01                              71.0                               54
91   2019-01-01                              17.0                               48
156  2020-01-01                               3.0                               50
196  2020-07-01                              53.0                               34
154  2020-01-01                              51.0                               64
131  2019-07-01                              53.0                               17
88   2019-01-01                              78.0                               61
40   2018-07-01                              55.0                               44
12   2018-01-01                              73.0                               37

Sample Rows Only in monthly_data (First 10 Columns)
---------------------------------------------------

      unnamed: 0  unnamed: 0.2_x        date  unnamed: 0.1_x  unnamed: 0_x   district_x  total population_x  under-five population_x         gam_x         mam_x
1594        1462            1855  2019-02-01             376           376      Afmadow       180756.295184             36151.259037  12896.469848  10910.726548
2929        2896             471  2020-10-01             151           151       Zeylac        72825.000000             14565.000000   3609.000000   2860.000000
2204        2105             838  2019-11-01             364           364     Sablaale        24953.239247              4990.647849   2284.825993   1949.636256
1392        1227            1690  2018-11-01             452           452  Adan Yabaal        37859.154953              7571.830991   2112.081923   1678.351130
2583        2517             844  2020-05-01             265           265     Sablaale        20213.161577              4042.632315   1854.664656   1555.151123
789          591            3907  2018-02-01             591           591       Saakow       178339.815000             35667.963000  14003.242274  12658.560069
1245        1080            3176  2018-09-01             466           466  Belet Xaawo        80263.427474             16052.685495   6328.552460   5319.562633
1689        1557             777  2019-04-01             400           400      Cadaado       108059.646920             21611.929384   7144.427198   5742.709247
2791        2758            3721  2020-08-01             208           208  Ceel Afweyn       113789.000000             22758.000000   6566.000000   5185.000000
1350        1185             718  2018-11-01             494           494      Garoowe       238943.832606             47788.766521  24708.068208  21406.663905

## Comparing monthly against semiyearly

In [10]:
compare_mon_sy = datacompy.Compare(df_mon,df_sy,
                            join_columns="date",
                            df1_name="monthly_data",
                            df2_name="semiyearly_data")
print(compare_mon_sy.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns  Rows
0     monthly_data       73  3936
1  semiyearly_data      109   677

Column Summary
--------------

Number of columns in common: 42
Number of columns in monthly_data but not in semiyearly_data: 31
Number of columns in semiyearly_data but not in monthly_data: 67

Row Summary
-----------

Matched on: date
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 656
Number of rows in monthly_data but not in semiyearly_data: 3,280
Number of rows in semiyearly_data but not in monthly_data: 21

Number of rows with some compared columns unequal: 656
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 40
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 23,070

Columns with Unequal Values or Types
------------------------------------

                     Column monthly_data dtype semiyearly_data dtype  # Unequal       Max Diff  # Null Diff
17         average of centx            float64               float64        652       8.643430           14
16         average of centy            float64               float64        651      11.775498           14
25        awd/cholera cases            float64               float64        384     800.000000          331
26       awd/cholera deaths            float64               float64         36       8.000000           35
38                 district             object                object        651       0.000000            0
39         district_encoded              int64                 int64        643      76.000000            0
3                district_x             object                object        651       0.000000            0
6                district_y             object                object        651       0.000000           16
10                      gam            float64               float64        650  248730.000000            0
36                 increase             object                object        389       1.000000           73
37         increase_numeric            float64               float64        650       0.344788           73
29  insecurity - fatalities            float64               float64        581     116.000000          306
28   insecurity - incidents            float64               float64        567      69.666667          306
22             maize prices            float64               float64        534     820.000000          322
27            malaria cases            float64               float64        484     899.000000          316
11                      mam            float64               float64        514  166229.000000            1
32           mam_admissions            float64               float64        411   10670.500000           98
24            measles cases            float64               float64        495     679.000000          348
23     new admissions (gam)            float64               float64        643     963.666667          169
34          next_prevalence            float64               float64        656       0.370303           73
35          prevalence_6lag            float64               float64        572       0.407188            5
20           price of water            float64               float64        510     520.000000          319
19                 rainfall            float64               float64        656     123.330000           14
12                      sam            float64               float64        651   48010.000000            0
13           sam prevalence            float64               float64        640       0.129228            0
14            sam/gam ratio            float64               float64        642       0.196462            0
33           sam_admissions            float64               float64        426    6104.833333           98
21           sorghum prices            float64               float64        543      64.566667          339
30             total alarms              int64               float64        641      12.666667           14
9     under-five population            float64               float64        651  520931.400000            0
0                unnamed: 0              int64                 int64        582    2913.000000            0
1            unnamed: 0.1_x              int64                 int64        651     258.000000            0
4            unnamed: 0.1_y              int64               float64        655     272.000000           16
7              unnamed: 0.2              int64                 int64        656    4040.000000            0
2              unnamed: 0_x              int64                 int64        651     258.000000            0
8            unnamed: 0_x.1              int64               float64        655     272.000000           16
18           unnamed: 0_x.2              int64               float64        656     254.000000           14
5              unnamed: 0_y              int64               float64        655     272.000000           16
15           unnamed: 0_y.1              int64               float64        656    3584.500000           14
31           unnamed: 0_y.2            float64               float64        428    2205.000000           89

Sample Rows with Unequal Values
-------------------------------

            date  unnamed: 0 (monthly_data)  unnamed: 0 (semiyearly_data)
504   2018-01-01                      504.0                         134.0
2220  2020-01-01                     2220.0                         381.0
923   2018-07-01                      923.0                         183.0
890   2018-07-01                      890.0                         150.0
2700  2020-07-01                     2700.0                         491.0
3120  2021-01-01                     3120.0                         559.0
3530  2021-07-01                     3530.0                         617.0
1848  2019-07-01                     1848.0                         375.0
1846  2019-07-01                     1846.0                         373.0
911   2018-07-01                      911.0                         171.0

            date  unnamed: 0.1_x (monthly_data)  unnamed: 0.1_x (semiyearly_data)
933   2018-07-01                          590.0                             496.0
64    2017-07-01                          644.0                             676.0
1360  2019-01-01                          382.0                             444.0
2717  2020-07-01                          213.0                             211.0
12    2017-07-01                          631.0                             663.0
2704  2020-07-01                          150.0                             206.0
2258  2020-01-01                          291.0                             266.0
1357  2019-01-01                          425.0                             417.0
16    2017-07-01                          664.0                             665.0
1844  2019-07-01                          372.0                             296.0

            date  unnamed: 0_x (monthly_data)  unnamed: 0_x (semiyearly_data)
2290  2020-01-01                        238.0                           276.0
63    2017-07-01                        666.0                           611.0
2699  2020-07-01                        156.0                           149.0
496   2018-01-01                        543.0                           567.0
505   2018-01-01                        530.0                           595.0
3151  2021-01-01                         86.0                           104.0
494   2018-01-01                        583.0                           586.0
3119  2021-01-01                         76.0                           131.0
513   2018-01-01                        542.0                           597.0
2     2017-07-01                        669.0                           624.0

            date district_x (monthly_data) district_x (semiyearly_data)
499   2018-01-01                    Qardho                       Sheikh
43    2017-07-01                  Burtinle                        Hobyo
1375  2019-01-01                   Berbera                      Bossaso
54    2017-07-01              Laas Caanood                      Caluula
2706  2020-07-01                 Cabudwaaq                     Kismaayo
3127  2021-01-01                 Buuhoodle                      Gebiley
948   2018-07-01                    Saakow                        Xudur
3526  2021-07-01                     Marka                      Afmadow
913   2018-07-01                    Cadale                       Waajid
2708  2020-07-01                 Buuhoodle                     Diinsoor

            date  unnamed: 0.1_y (monthly_data)  unnamed: 0.1_y (semiyearly_data)
3564  2021-07-01                            3.0                              26.0
3092  2021-01-01                          120.0                              38.0
2706  2020-07-01                          168.0                             188.0
2280  2020-01-01                          286.0                             200.0
3578  2021-07-01                           44.0                              36.0
30    2017-07-01                          629.0                             577.0
2690  2020-07-01                          179.0                             208.0
3149  2021-01-01                          107.0                               5.0
46    2017-07-01                          624.0                             535.0
2705  2020-07-01                          148.0                             160.0

            date  unnamed: 0_y (monthly_data)  unnamed: 0_y (semiyearly_data)
1350  2019-01-01                        437.0                           312.0
925   2018-07-01                        510.0                           377.0
2275  2020-01-01                        244.0                           172.0
508   2018-01-01                        572.0                           476.0
1828  2019-07-01                        362.0                           320.0
45    2017-07-01                        649.0                           526.0
2666  2020-07-01                        175.0                           217.0
2700  2020-07-01                        215.0                           214.0
3137  2021-01-01                        124.0                             8.0
483   2018-01-01                        569.0                           460.0

            date district_y (monthly_data) district_y (semiyearly_data)
894   2018-07-01                 Gaalkacyo                 Laas Caanood
3095  2021-01-01                Ceerigaabo                     Burtinle
2713  2020-07-01                    Balcad                     Hargeysa
68    2017-07-01                   Afmadow                      Afgooye
1342  2019-01-01                Iskushuban                     Galdogob
3547  2021-07-01                    Qardho                      Bossaso
3554  2021-07-01                 Buuhoodle                 Laas Caanood
1334  2019-01-01                 Ceel Waaq                          NaN
890   2018-07-01                    Taleex                    Buuhoodle
9     2017-07-01               Belet Weyne                      Bu'aale

            date  unnamed: 0.2 (monthly_data)  unnamed: 0.2 (semiyearly_data)
1360  2019-01-01                       1764.0                           444.0
2252  2020-01-01                       2316.0                           268.0
946   2018-07-01                        390.0                           471.0
905   2018-07-01                        498.0                           459.0
508   2018-01-01                        918.0                           591.0
18    2017-07-01                       3798.0                           666.0
47    2017-07-01                       1128.0                           647.0
468   2018-01-01                       2598.0                           555.0
497   2018-01-01                       3642.0                           531.0
958   2018-07-01                       3018.0                           525.0

            date  unnamed: 0_x.1 (monthly_data)  unnamed: 0_x.1 (semiyearly_data)
3110  2021-01-01                          131.0                               0.0
1814  2019-07-01                          355.0                             358.0
3091  2021-01-01                          135.0                              67.0
45    2017-07-01                          649.0                             526.0
26    2017-07-01                          612.0                             520.0
944   2018-07-01                          485.0                             386.0
2236  2020-01-01                          288.0                             208.0
1357  2019-01-01                          425.0                             342.0
1380  2019-01-01                          412.0                             330.0
3159  2021-01-01                          139.0                              26.0

            date  under-five population (monthly_data)  under-five population (semiyearly_data)
3560  2021-07-01                          60740.000000                             26801.600000
913   2018-07-01                          16739.756897                             24474.663862
2714  2020-07-01                           6689.000000                             14875.000000
3563  2021-07-01                          29406.400000                             28586.090729
2270  2020-01-01                          93404.040406                             27912.869213
1838  2019-07-01                          22935.724590                              8258.757092
3116  2021-01-01                          11350.000000                             36645.000000
959   2018-07-01                          14073.448405                             52567.163774
58    2017-07-01                           8472.303000                             16295.868000
1790  2019-07-01                          18470.443337                             14454.807531

            date  gam (monthly_data)  gam (semiyearly_data)
44    2017-07-01         5313.690041           13558.119120
926   2018-07-01        20230.949240           24636.014400
946   2018-07-01         5481.441342            9874.640547
491   2018-01-01         7345.019916            7889.435588
3538  2021-07-01        32510.000000           47350.000000
53    2017-07-01         8885.185780            8954.757817
3139  2021-01-01         3970.000000           33840.000000
66    2017-07-01        27013.508777            4378.433530
2680  2020-07-01         5113.000000            2351.000000
22    2017-07-01         8292.311656            5146.877642

            date  mam (monthly_data)  mam (semiyearly_data)
1393  2019-01-01         5770.296218            5929.052014
1795  2019-07-01         4833.000332           12773.088601
2723  2020-07-01         4803.000000            7774.000000
487   2018-01-01         2155.828990           11224.796883
508   2018-01-01         4809.975206           12658.560069
2280  2020-01-01        14267.258852            2009.471591
1401  2019-01-01         9075.971607            5167.840917
1362  2019-01-01          962.990895            4444.723220
3     2017-07-01        13450.048212            7366.956410
929   2018-07-01         5319.562633            8556.247941

            date  sam (monthly_data)  sam (semiyearly_data)
454   2018-01-01         1741.533394            4992.096166
922   2018-07-01          781.755874            1260.865082
946   2018-07-01          843.888141            1948.870534
52    2017-07-01          373.072705            1440.094032
2274  2020-01-01         1429.166730            1459.145270
3097  2021-01-01          270.000000             310.000000
2697  2020-07-01          388.000000            1004.000000
1777  2019-07-01         6280.246561             248.200448
2243  2020-01-01         1725.769506             485.620033
51    2017-07-01         2958.612085            1557.611078

            date  sam prevalence (monthly_data)  sam prevalence (semiyearly_data)
2671  2020-07-01                       0.056609                          0.088086
2252  2020-01-01                       0.058883                          0.066152
1784  2019-07-01                       0.073628                          0.099652
2236  2020-01-01                       0.055457                          0.062147
2245  2020-01-01                       0.062147                          0.056474
45    2017-07-01                       0.093600                          0.067600
3533  2021-07-01                       0.067672                          0.045037
1834  2019-07-01                       0.069950                          0.056766
903   2018-07-01                       0.129118                          0.065543
2242  2020-01-01                       0.074089                          0.121610

            date  sam/gam ratio (monthly_data)  sam/gam ratio (semiyearly_data)
2247  2020-01-01                      0.156870                         0.166852
3521  2021-07-01                      0.106825                         0.147966
902   2018-07-01                      0.180343                         0.172032
1370  2019-01-01                      0.151700                         0.111655
3554  2021-07-01                      0.111765                         0.086957
899   2018-07-01                      0.196744                         0.191217
2262  2020-01-01                      0.131803                         0.145232
3102  2021-01-01                      0.137805                         0.126930
1846  2019-07-01                      0.149922                         0.176471
2257  2020-01-01                      0.167218                         0.165554

            date  unnamed: 0_y.1 (monthly_data)  unnamed: 0_y.1 (semiyearly_data)
1846  2019-07-01                         3030.0                            1062.5
921   2018-07-01                         2038.0                            2226.5
2251  2020-01-01                         2007.0                             676.5
62    2017-07-01                         2222.0                            1822.5
3152  2021-01-01                         2351.0                            2544.5
3571  2021-07-01                         2939.0                             388.5
3099  2021-01-01                         2106.0                            2299.5
2255  2020-01-01                          194.0                            2440.5
7     2017-07-01                         2663.0                             842.5
914   2018-07-01                         3508.0                            2422.5

            date  average of centy (monthly_data)  average of centy (semiyearly_data)
2266  2020-01-01                         3.549436                            4.793407
7     2017-07-01                        10.647380                            3.900063
1     2017-07-01                         3.900063                           10.647380
898   2018-07-01                         9.257388                            2.485374
1795  2019-07-01                         4.760488                           -0.381145
1377  2019-01-01                         8.470396                            2.815130
449   2018-01-01                         3.435586                           -0.853698
24    2017-07-01                         9.859568                            3.835937
485   2018-01-01                         2.678978                            2.485374
3576  2021-07-01                         2.488555                            9.992453

            date  average of centx (monthly_data)  average of centx (semiyearly_data)